body, html{
  margin:0; padding:0;
  font-size:10px;
  min-width:1180px;
}

div, p{
  position:relative;
  margin:0; padding:0;
}

article{
  position:relative;
  float:left;
}

br{
  clear:both;
}

#wrap{
	width:90%;
	left:10%;
	top:100px;
}

#body{
	border-top: 1px dotted #989B9B;
	border-bottom: 1px dotted #989B9B;
	width:90%;
}

#nav{
	float:left;
	width:250px;
}

#nav span{
	display:none;
}

#logo{margin:10px;}
#logo img.logo{height:50px; width:400px;}

#menu{
	float: right;
  margin-top:50px;
}
#menu ul{
	margin: 0 20px 0 0;
	list-style: none;
}
li.menu{
	font-family: Arial, Helectiva, Geneva, sans-serif;
	font-size:1.1em;
	text-transform:lowercase;
	letter-spacing:.2em;
	line-height:2.2em;
	text-align:right;
}
li.menu a{
	padding-right:5px;
	text-decoration:none;
	color:#333;
}
li.menu a.current,
li.menu a:hover{
	color:#B5C1C1;
}

#content{
	float:left;
  width:700px;
}

#content img{
  margin: 20px;
  float:left;
}

#content p{
  margin: 0 0 10px 0;
  font-size:14px;
  line-height:18px;
}

#content h1{
  letter-spacing: 2px;
  margin: 30px 0 0 20px;
  text-transform: uppercase;
  font-size: 30px;
}

#content h3{
  font-size: 12px;
  margin: 20px 0 5px 0;
  text-transform: uppercase;
  letter-spacing:1px;
  font-family: Helvetica,Verdana,Arial,sans-serif;
}


article#home{margin:0 0 15px 20px; width:382px;}
article#overview, article#contact, article#services, article#credentials{
  margin:0 20px 20px 20px;
}

article#overview img{height:200px; width:650px; margin:20px 0 10px 0;}
article#services img{height:300px; width:200px; margin:20px 30px 0 0;}
div#map{margin:20px;text-align:center;}

#content p.center{text-align:center;}
#content p.nopad{margin:0;}

#footer{
	right:10%;
	padding-top: 20px;
	height:100px;
	text-align:right;
	font-size: .8em;
	font-family:Arial, Helectiva, Geneva, sans-serif;
	letter-spacing: 3px;
	color:#101111;
}
